<article class="">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid lozad" data-src="{{ .Params.Image| absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="content">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description }}</p>
      <p style="color:#57cbcc">{{ .Params.Tags }}</p>
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
