{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "education.html" . }}

{{ partial "goal.html" . }}

{{ partial "cta.html" . }}

{{ partial "achievements.html" . }}

{{ partial "skill.html" . }}

{{ partial "projects.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}